
* {
	box-sizing: border-box;
}
body {
	font-size: 15px;
	padding: 0%;
	font-family: Georgia, 'Times New Roman', Times, serif;
}

.container {
	align-items: center;
}

.container-rightside {
	align-items: center;
}

.contact-info {
	display: flex;
	padding: 5px;
	gap: 10px;
}

.logocolor {
	background-color: rgb(10, 89, 61);
	background-position: center;
	height: 120px;
	padding: 8px;
	margin: 0%;
}
footer {
	margin-bottom: 0%;
}

.copyright {
	background-color: rgb(10, 89, 61);
	height: 50px;
	color: white;
	font-size: 20px;
	text-align: center;
	padding: 8px;
}
.logo .color2,
.footer .color2 {
	background-color: rgb(212, 212, 26);
	height: 5px;
margin: 0%;
}

input {
	padding: 3px;
	align-items: spaced-between;
	

}
.contact-label {
	display: flex;
	padding: 5px;
	gap: 77px;
	margin-left: 100px;
}

.contact-label2 {
	display: flex;
	padding: 5px;
	gap: 8px;
	align-items: flex-start;

}

fieldset .contact-label2 input{
	border: transparent;
	border-bottom: 2px solid gray;
	width: 334px;
}

.checkboxwrapper {
	display: flex;
	padding: 5px;
	gap: 5px;
	align-items: flex-start;
}
fieldset .checkboxwrapper input.others{
	border: transparent;
	border-bottom: 2px solid gray;
	width: 527px;
}

.wrapper {
	display: flex;
	flex-direction: row;
	align-items: spaced-around;
	gap: 8px;
	padding: 5px;
}

.wrapper2 {
	display: flex;
	height: 80vh;
	justify-content: center;
	align-items: center;
	padding: 5px;
	background-size: cover;
	background-image: url('./Images/CARAGA STATE UNIVERSITY CABADBARN CITY (3).png');
	background-size: no-repeat;
	margin-bottom: 0%;
	gap: 50px;
}
 fieldset  .contact-info input
{
border: transparent;
border-bottom: 2px solid gray;

}

.container-rightside fieldset input{
	border: transparent;
border-bottom: 2px solid gray;
}

.service-list input {
	border: transparent;
	border-bottom: 2px solid gray;
}
.greeting1 {
	display: flex;
	height: 100vh;
	justify-content: center;
	align-items: center;
	padding: 5px;
	background-size: cover;
	background-image: url('./Images/CARAGA STATE UNIVERSITY CABADBARN CITY (1000 × 1080 px) (900 × 1080 px) (3).png');
	background-repeat: no-repeat;
	margin: 0%;
	width: 900px;
	color: yellow;
	font-size: 40px;
	text-align: center;
}

.form-container {
	display: flex;
width: 100%;
height: 100vh;
	align-items: center;
	margin-left: 300px;
}

.wrapper4 {
	display: flex;
	height: 100vh;
	gap: 100px;
	width: 100%;
	justify-content: space-around;

}


.wrapper3 {
	display: flex;
	height: 80vh;
	padding: 5px;
	margin: 0%;
	flex-direction: row;
}


.dashboard .header{
	background-color: rgb(10, 89, 61);
	text-align: center;
	color: white;
	padding: 8px;
	margin-bottom: 0%;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;

}
.dashboard .Avatar {
	text-align: center;
	background-color: white;
	padding: 8px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;

}

.dashboard{
	background-color: #afafaf;
	height: 80vh;
margin: 0%;
width: 300px;
float: right;
font-size: 15px;
color: black;
padding: 10px;
text-align: justify;
}
.nav {
	background-color: white;
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
	height: 40vh;		
	padding: 10px;
	font-size: 15px;
	color: black;
}
ul li {
	list-style-type: none;
}

.nav ul li:hover {
	color: green;
}

.greeting {
	font-size: 40px;
	color: black;
	font-family: Georgia, 'Times New Roman', Times, serif;
}
fieldset.formlogin {
	border: 2px solid white;
	background-color: white;
	align-items: center;
	width: 600px;
	height: 430px;
	padding: 10px;
	float: left;
}


.horizontal {
	display: flex;
	flex-direction: row;
	gap: 8px;
	float: left;
}



table,
th,
td {
	border: 0.5px solid black;
}


table.table{
	width: 70%;
	height: 10%;
	margin-left: 15%;
	margin-top: 5%;
}



.content input{
	background-color: rgb(191, 188, 188);
	width: 90%;
	float: right;
  padding: 6px;
  margin-top: 100px;
  margin-right: 70px;
  font-size: 17px;

}


.form1{
	display: flex;
	flex-direction: column;
	background-color: white;
	width: 500px;
	height: 350px;
	padding: 10px;
	border-radius: 5px;
	justify-content: center;
	align-items: center;
}


.form2{
	display: flex;
	flex-direction: column;
	background-color: white;
	width: 600px;
	height: 400px;
	padding: 10px;
	border-radius: 5px;
	justify-content: center;
	align-items: center;
}


#inputuseraccount{
	height: 30px;
	width: 430px;
	padding: 10px;
	margin: 5px;
	border-radius: 5px;
	border-color: 0.5px gray;

}
.form1 button, .form2 button{
	width: 430px;
	border-radius: 5px;
	padding: 8px;
	margin: 5px;
	height: 30px;
	text-align: center;
	background-color: rgb(24, 186, 24);
	color: white;
	border-color: transparent;
}

span{
	color: red;
}

.error{
	display: flex;
	height: 80vh;
	align-items: center;
	justify-content: center;
	font-size: 40px;
}