body {
	margin: 10px 100px 10px 100px;
}

.container {
	flex: 1;
	font-size: 15px;
	align-items: center;
}

.contact-info {
	display: flex;
	padding: 5px;
	gap: 8px;
}

input {
	padding: 3px;
	align-items: spaced-between;
	max-width: 110px;
	max-height: 20px;
}
.contact-label {
	display: flex;
	padding: 5px;
	gap: 60px;
	margin-left: 80px;
}

.contact-label2 {
	display: flex;
	padding: 5px;
	gap: 5px;
}

fieldset {
	max-width: 10%;
}

p.bold{
  font-weight: bold;
}